<h1>Bar Charts</h1>
<app-bar-charts></app-bar-charts>

<!--<div class="flex flex-row gap-4">

  <div class="grow example-ripple-container mat-elevation-z4"
       matRipple [matRippleCentered]="true"
       [matRippleDisabled]="false" [matRippleUnbounded]="false"  style="cursor: pointer;background-color: #c6ecf1;">
    <div class="flex flex-row" style="padding: 5%;">
      <div>
                                <span class="material-symbols-outlined" style="font-size: 40px;">
                                    supervisor_account
                                </span>
      </div>
      <div class="grow"></div>
      <div class="flex flex-col" style="text-align: right;">
        <span>Total No.of Application</span>
        <h3 style="font-weight:500 !important; font-size:24px">54</h3>
      </div>
    </div>
  </div>

  <div class="grow example-ripple-container mat-elevation-z4"
       matRipple [matRippleCentered]="true"
       [matRippleDisabled]="false" [matRippleUnbounded]="false"  style="cursor: pointer;background-color: #c6ecf1;">
    <div class="flex flex-row" style="padding: 5%;">
      <div>
                                <span class="material-symbols-outlined" style="font-size: 40px;">
                                    supervisor_account
                                </span>
      </div>
      <div class="grow"></div>
      <div class="flex flex-col" style="text-align: right;">
        <span>Total No.of Application</span>
        <h3 style="font-weight:500 !important; font-size:24px">54</h3>
      </div>
    </div>
  </div>

  <div class="grow example-ripple-container mat-elevation-z4"
       matRipple [matRippleCentered]="true"
       [matRippleDisabled]="false" [matRippleUnbounded]="false"  style="cursor: pointer;background-color: #c6ecf1;">
    <div class="flex flex-row" style="padding: 5%;">
      <div>
                                <span class="material-symbols-outlined" style="font-size: 40px;">
                                    supervisor_account
                                </span>
      </div>
      <div class="grow"></div>
      <div class="flex flex-col" style="text-align: right;">
        <span>Total No.of Application</span>
        <h3 style="font-weight:500 !important; font-size:24px">54</h3>
      </div>
    </div>
  </div>

</div>-->
